.navbar-container {
position: fixed;
top: 0;
left: 0;
right: 0;

height: 60px;

background-color: #8390B3;

display: flex;
align-items: center;
justify-content: space-between;

padding: 0 30px;

color: white;

box-shadow: 0 2px 6px rgba(0,0,0,0.15);

z-index: 9999;
}

.navbar-logo {
margin: 0;
cursor: pointer;
}

.navbar-search {
width: 320px;
padding: 10px 15px;
border-radius: 20px;
border: none;
outline: none;
}

.navbar-right {
display: flex;
align-items: center;
}

.nav-link-custom {
color: white;
text-decoration: none;
margin-left: 20px;
font-weight: 500;
}

.user-box {
display: flex;
align-items: center;
gap: 8px;
}

.avatar {
width: 38px;
height: 38px;

border-radius: 50%;

background: white;
color: #3897f0;

display: flex;
align-items: center;
justify-content: center;

font-weight: bold;
}

.username {
font-size: 14px;
font-weight: 500;
}



@media (max-width: 768px) {

.navbar-search {
display: none;
}

.username {
display: none;
}

.navbar-container {
padding: 0 15px;
}

.navbar-logo {
font-size: 24px;
}

}

.mobile-menu-btn{
    display:none;
}

.mobile-menu{
    display:none;
}

@media(max-width:768px){

    .mobile-menu-btn{
        display:block;
        font-size:22px;
        cursor:pointer;
        color:#0d6efd;
        margin-right:10px;
    }

    .mobile-menu{
        position:fixed;
        top:60px;
        left:0;
        width:220px;
        height:100vh;
        background:white;
        display:flex;
        flex-direction:column;
        padding:20px;
        z-index:9999;
        box-shadow:0 0 15px rgba(0,0,0,.1);
    }

    .mobile-menu a{
        padding:12px 0;
        text-decoration:none;
        color:#333;
        font-weight:500;
    }
}

